<% include ../../admin/block/head %>
  <!-- container section start -->

    <% include ../../admin/block/header %>

    <% include ../../admin/block/menuLeft %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<style>
  td{
    padding: 0 5px 20px 0;
  } 
</style>
    	<section id="main-content">
    		<section class="wrapper">
                  <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                              <h2>CÁC BÀI GIẢNG CỦA BẠN</h2>
                          
                          <table class="table-hover">
                           <tbody>
                            <form action="" method="get" accept-charset="utf-8">
                              <tr>
                                <td></td>
                                <td><input class="form-control" type="search" name="ten" value="" placeholder="Nhập từ khoá tìm kiếm"></td>
                                <td>
                                  <select class="form-control" name="khoahoc">
                                    <option value=""> -- khoá học -- </option>
                                    <%khoahoc.forEach(function(v,k){%>
                                     <option value="<%=v.idKhoaHoc%>">
                                      <%=v.TenKhoaHoc%></option>
                                    <%})%>
                                   </select>
                                </td>
                                <td>
                                  <select name="level" class="form-control">
                                    <option value="0"> -- Chọn cấp độ -- </option>
                                    <option value="1"> Cơ Bản</option>
                                    <option value="2"> Nâng Cao</option>
                                    option
                                  </select>
                                </td>
                                <td><input class="btn btn-success" type="submit" value="Tìm kiếm"></td>
                                <td  style="float: right;"> <a href="/admin/them-bai-giang"><button type="button" class="btn btn-info" > + Thêm </button></a></td>
                              </tr>
                            </form>
                              <tr><% if(baiviet == "") { width = "style=width:150px" } else { width=""; }%>
                                 <th> STT </th>
                                 <th>&nbsp; &nbsp;<i class="icon_profile"></i> Bài giảng</th>
                                 <th><i class="icon_calendar"></i> Khóa học </th>
                                 <th <%=width%>><span style="float: right;"><i class="icon_mail_alt"></i> Lượt xem</span> </th>
                                 <th <%=width%>><span style="float: right;"><i class="icon_mail_alt"></i> Lượt mua</span> </th>
                                 <th <%=width%>><span style="float: right;"> Actions </span></th>
                              </tr>
                              <% baiviet.forEach(function(val,key){%>
                                <tr>
                                  <td> <%=(key+1)%></td>
                                  <td width="300px">&nbsp;&nbsp; <%=val.TenBaiViet%></td>
                                  <td>
                                    <%khoahoc.forEach(function(val2,key2){ if(val2.idKhoaHoc == val.idKhoaHoc){%> <%=val2.TenKhoaHoc%> <%} })%>
                                  </td>
                                  <td width="150px"><strong style="float: right;"><%=val.LuotXem%></strong></td>
                                  <td width="150px"><strong style="float: right;"><%=val.LuotMua%></strong></td>
                                  <td width="150px">
                                    <div class="btn-group" style="float: right;">
                                        <a class="btn btn-primary" href="/admin/sua-bai-giang/<%=val.idBaiViet%>"><span class="glyphicon glyphicon-pencil"></i></a>
                                        <a idBaiViet="<%=val.idBaiViet%>" name="xoabv" class="btn btn-danger xoabv" href="javascript:void(0)"><i class="icon_close_alt2"></i></a>
                                    </div>
                                  </td>
                                </tr>
                              <%}) %>  
                              <div id="wait" style="width:69px;height:89px;position:fixed;top:35%;left:49%;padding:2px;"><img src='https://www.w3schools.com/jquery/demo_wait.gif' width="64" height="64" /></div>                            
                           </tbody>
                        </table>
                      </section>
                  </div>
              </div>
            </section>
        </section>
<% include ../../admin/block/footer %>

<!-- jquery using ajax upload form -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>
  $(document).ready(function() {
    $('a[name="luubg"]').hide();
    $('#wait').hide(1000);

    // Xoá
    $('.xoabv').click(function(event) {
        $('#wait').show(); 
        self = $(this);
        id = $(self).attr('idBaiViet');
        if(confirm("Bạn có chắc chắn muốn xoá không ?")){
          $.ajax({
            url: '/admin/delete-bai-giang/SD564F5DS4FSD2F/'+id,
            type: 'GET',
            dataType: 'html',
          })
          .done(function(data) {
             $('#wait').hide(3000,function(){
              $(self).closest('tr').remove();
            });
          })   
        } else {
           $('#wait').hide(1000); 
        }
    });
  });
</script>