<% include ../../admin/block/head %>
  <!-- container section start -->

    <% include ../../admin/block/header %>

    <% include ../../admin/block/menuLeft %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/javascripts/ckeditor/ckeditor.js"></script>
    <script src="/javascripts/ckeditor/samples/js/sample.js"></script>
    <link rel="stylesheet" href="/javascripts/ckeditor/samples/css/samples.css">
    <link rel="stylesheet" href="/javascripts/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css">
    <section id="main-content">
      <section class="wrapper">
          <h2>  </h2>
          <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-8">
                  <section class="panel">
                    <form method="POST" action="">
                      <% if(success_msg){ %>
                          <h3 style="color: red"><%=success_msg%></h3>
                      <% } %>
    	                <strong >Nội dung câu hỏi</strong><br>
                      <strong>Để up ảnh các bạn vào <a href="http://upanh.vforum.vn/" target="blank"> upanh.vforum.vn</a>, sau đó copy kết quả tab <span style="color : red">LINK ẢNH </span>dán vào mục hình ảnh sẽ được hiển thị</strong>
                      <div class="panel-body" id="editor" name="editor"><%-data.CauHoi%></div>
                      <input type="hidden" id="noidung" name="noidung">
                        <br>
                        <%traloi.forEach(function(val,key){
                          if(val.idTNChiTiet == data.idTNChiTiet){%>
                          <div>
                            <input <%if(val.Key == data.DapAn){%> checked <%}%> class="form-control" type="radio" name="dapan" value="<%=val.Key%>" style=" width: 10%; float: left; ">
                            <input class="form-control" type="text" name="traloi<%=(key+1)%>" value="<%=val.TraLoi%>" style=" width:80%; float:left;">
                          </div>
                          <div style=" clear: both;"></div>
                        <%}})%>
                        <br>
                        <strong>Cấp Độ</strong>
                        <select class="form-control" name="level">
                          <%level.forEach(function(val,key){%>
                            <option <%if(val.idLevel == data.idLevel){%> selected <%}%>  value="<%=val.idLevel%>"><%=val.Loai%></option>
                          <%})%>
                        </select>
                        <br>
                      <div class="text-center">
                        <button type="button" onclick="editorr()" class="btn btn-success">Cập Nhật</button>
                      </div>
                    </form>
                  </section>
              </div>
          </div>
      </section>
    </section>
<% include ../../admin/block/footer %>

<script>
    initSample();
    function editorr(){
      var data = CKEDITOR.instances.editor.getData();
      $('#noidung').val(data)
      $('form').submit()
  }
</script>