<% include ../../admin/block/head %>
  <!-- container section start -->

    <% include ../../admin/block/header %>

    <% include ../../admin/block/menuLeft %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="/javascripts/jquery.1.8.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({
        dateFormat: "dd-mm-yy",
        maxDate: "-340m"
    });

    $('input[name="phone"]').keypress(function(evt) {
      var charCode = (evt.which) ? evt.which : event.keyCode
       if (charCode > 31 && (charCode < 48 || charCode > 57))
       return false;
       return true;
    });
  })
</script>
    <section id="main-content">
      <section class="wrapper">
      <br>
      <br>
      <h2 style="text-align: center;">Thêm Nhân Viên</h2>
          <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-8">
                  <section class="panel">
                  <div class="validation"> <h3 style="color: red"><% if(success_msg){ %><%=success_msg%><% } %></h3></div>
                    <form method="POST" action="" enctype='multipart/form-data'>
    	                <strong>Họ Tên <span style="color: red"><%if(typeof error.ten !== 'undefined'){%><%=error.ten%><%}%></span></strong>
                      <input type="text" class="form-control input-text" name="ten" value="<%if(typeof data.ten !== 'undefined'){%><%=data.ten%><%}%>" ><br>
                      <strong>Loại nhân viên</strong>
                      <select name="loai"  class="form-control input-text"><br>
                      <% loai.forEach(function(val,key){%>
                        <option value="<%=val.idLoaiNV%>"> <%=val.Loai%></option>    
                      <% }) %>                    
                      </select><br>
                      

                      <strong>Email <span style="color: red"><%if(typeof error.email !== 'undefined'){%><%=error.email%><%}%></span></strong>
                      <input type="email" name="email" class="form-control input-text" value="<%if(typeof data.email !== 'undefined'){%><%=data.email%><%}%>">
                      <br>

                      <strong>Ngày Sinh <span style="color: red"><%if(typeof error.ngaysinh !== 'undefined'){%><%=error.ngaysinh%><%}%></span></strong>
                      <input type="text" name="ngaysinh" id="datepicker" class="form-control input-text" value="<%if(typeof data.ngaysinh !== 'undefined'){%><%=data.ngaysinh%><%}%>">
                      <br>

                      <strong style="margin-right: 5%">Giới tính</strong>
                      <select name="gioitinh"  class="form-control input-text">
                        <option value="0">Nữ</option>
                        <option value="1"> Nam</option>}                        
                      </select>
                      <br>

                      <strong>Số điện thoại <span style="color: red"><%if(typeof error.phone !== 'undefined'){%><%=error.phone%><%}%></span></strong>
                      <input minlength="10" maxlength="11" type="text" name="phone" id="datepicker" class="form-control input-text" value="<%if(typeof data.phone !== 'undefined'){%><%=data.phone%><%}%>">
                      <br>

                      <strong>Địa chỉ <span style="color: red"><%if(typeof error.diachi !== 'undefined'){%><%=error.diachi%><%}%></span></strong>
                      <input type="text" name="diachi" id="datepicker" class="form-control input-text" value="<%if(typeof data.diachi !== 'undefined'){%><%=data.diachi%><%}%>">
                      <br>

                      <strong>Hình đại diện</strong>
                      <input type="file" name="hinh" class="form-control input-text" >
                      <br>

                      <strong >Giới thiệu bản thân <span style="color: red"><%if(typeof error.gioithieu !== 'undefined'){%><%=error.gioithieu%><%}%></span></strong>
                      <textarea class="form-control input-text" name="gioithieu" ><%if(typeof data.gioithieu !== 'undefined'){%><%=data.gioithieu%><%}%></textarea>
                      <br>

                      <strong>Mật khẩu <span style="color: red"><%if(typeof error.password !== 'undefined'){%><%=error.password%><%}%></span></strong>
                      <input type="password" name="password" class="form-control input-text" >
                      <br>

                      <strong>Nhập lại mật khẩu <span style="color: red"><%if(typeof error.repassword !== 'undefined'){%><%=error.repassword%><%}%></span></strong>
                      <input type="password" name="repassword" class="form-control input-text" >
                      <br>

                      <input type="hidden" name="iddkkh" value="<%if(typeof data.idNV !== 'undefined'){%><%=data.idNV%><%}%>">
                      <div class="text-center">
                        <button type="submit" class="btn btn-success">Đăng ký</button>
                      </div>
                    </form>
                  </section>
              </div>
          </div>
      </section>
    </section>
<% include ../../admin/block/footer %>

