<% include ../block/head %>
<% include ../block/menuMain %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>

</style>
<section class="main-section paddind" id="Portfolio"><!--main-section-start-->
    <div class="container">
        <div class="row">
            <h2>Diễn Đàn: Hỏi Đáp Tin Học</h2>
        </div><hr>

        <div class="row">
            <div class="col-md-10">
                <h3><%=hoidap.TieuDe%></h3>
                <p>Đăng bời : <%=hoidap.HoTen%> - Vào ngày : <%=hoidap.NgayHoi.getDate()+'-'+hoidap.NgayHoi.getMonth()+'-'+hoidap.NgayHoi.getFullYear()%> - Lượt xem : <%=hoidap.LuotXem%></p>
                <pre><%-hoidap.NoiDung%></pre>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1"><img src="/images/user.png" alt=""></div>
                <div class="col-md-9">
                    <textarea class="form-control" id="comment" placeholder="Bình luận..." ></textarea>
                </div>
                <div class="col-md-2"><button id='binhluan' type="button" class="btn btn-success"> Bình luận</button></div>
            </div>
            <hr>
            <div class="row" id="listComments"></div>
        </div>
    </div>
</section>
<input type="hidden" id="idBaiViet" value="<%=hoidap.idHoiDap%>">
<script>
    idUser = "<%=login%>";
    $(document).ready(function() {

        // load comments
        $.ajax({
            url: '/binh-luan/load-comments/0/'+ $('#idBaiViet').val(),
            type: 'GET',
            dataType: 'html',
        })
        .done(function(data) {
            $('#listComments').append(data)

            $('.reply').click(function(event) {
                id = $(this).attr('id');
                noidung = $(this).closest('div').prev().find('input[name="reply"]').val();
                if(idUser != 0){
                    if(noidung != ''){
                        $.ajax({
                            url: '/binh-luan/reply-comments/'+parseInt(id)+'/'+noidung,
                            type: 'GET',
                            dataType: 'html'
                        })
                        .done(function(e) {
                            $('#'+id).append(e);
                            $('input').val(null);

                            $('a[idUser]').each(function() {
                            if($(this).attr('idUser') != idUser){
                                    $(this).remove();
                                }
                            });
                            $('a[idUser]').click(function(event) {
                                idBinhLuan = $(this).attr('idBinhLuan');
                                idRepBL = $(this).attr('idRepBL');
                                if(idBinhLuan === undefined){
                                    $(this).closest('div[class="row"]').remove();
                                    $.ajax({
                                        url: '/binh-luan/remove-rep-comments/'+idRepBL,
                                        type: 'GET',
                                        dataType: 'html'
                                    })
                                } else {
                                    $(this).closest('div[id="delAll"]').remove();
                                    $.ajax({
                                        url: '/binh-luan/remove-comments/'+idBinhLuan,
                                        type: 'GET',
                                        dataType: 'html'
                                    })
                                }
                            });
                        })
                    } else {
                        alert('Bạn chưa nhập bình luận !');
                    }   
                } else {
                    alert('Bạn cần phải đăng nhập !');
                }

            });

            $('a[idUser]').each(function() {
                if($(this).attr('idUser') != idUser){
                    $(this).remove();
                }
            });
            $('a[idUser]').click(function(event) {
                idBinhLuan = $(this).attr('idBinhLuan');
                idRepBL = $(this).attr('idRepBL');
                if(idBinhLuan === undefined){
                    $(this).closest('div[class="row"]').remove();
                    $.ajax({
                        url: '/binh-luan/remove-rep-comments/'+idRepBL,
                        type: 'GET',
                        dataType: 'html'
                    })
                } else {
                    $(this).closest('div[id="delAll"]').remove();
                    $.ajax({
                        url: '/binh-luan/remove-comments/'+idBinhLuan,
                        type: 'GET',
                        dataType: 'html'
                    })
                }
            });

            $('a[class="thich"]').click(function(event) {
                if(idUser != 0){
                    idBinhLuan = $(this).attr('idBinhLuan');
                    idRepBL = $(this).attr('idRepBL');
                    if(idBinhLuan === undefined){
                        like = $(this).closest('strong').find('span').text();
                        $(this).closest('strong').find('span').text(parseInt(like)+1);
                        $(this).replaceWith( "<span style='color:#337ab7'>Like</span>" );
                        $.ajax({
                            url: '/binh-luan/like-rep-comments/'+idRepBL,
                            type: 'GET',
                            dataType: 'html'
                        })
                    } else {
                        like = $(this).closest('strong').find('span').text();
                        $(this).closest('strong').find('span').text(parseInt(like)+1);
                        $(this).replaceWith( "<span style='color:#337ab7'>Like</span>" );
                        $.ajax({
                            url: '/binh-luan/like-comments/'+idBinhLuan,
                            type: 'GET',
                            dataType: 'html'
                        })
                    }
                } else {
                    alert("Bạn cần đăng nhập !");
                }
            });
        })       

        //submit bình luận

        $('#binhluan').click(function(event) {
            id = $(this).attr('id');
            NoiDung = $('#comment').val();
            if(idUser != 0){
                if(NoiDung != ''){
                    $.ajax({
                        url: '/binh-luan/insert-comments/0/'+ $('#idBaiViet').val() +'/'+NoiDung,
                        type: 'GET',
                        dataType: 'html'
                    })
                    .done(function(e) {
                        $('#listComments').prepend(e)
                        $('#comment').val(null);

                        $('a[idUser]').each(function() {
                        
                        if($(this).attr('idUser') != idUser){
                                $(this).remove();
                            }
                        });
                        $('a[idUser]').click(function(event) {
                            idBinhLuan = $(this).attr('idBinhLuan');
                            idRepBL = $(this).attr('idRepBL');
                            if(idBinhLuan === undefined){
                                $(this).closest('div[class="row"]').remove();
                                $.ajax({
                                    url: '/binh-luan/remove-rep-comments/'+idRepBL,
                                    type: 'GET',
                                    dataType: 'html'
                                })
                            } else {
                                $(this).closest('div[id="delAll"]').remove();
                                $.ajax({
                                    url: '/binh-luan/remove-comments/'+idBinhLuan,
                                    type: 'GET',
                                    dataType: 'html'
                                })
                            }
                        });
                    })
                    
                } else {
                    alert('Bạn chưa nhập bình luận !');
                }   
            } else {
                alert('Bạn cần phải đăng nhập !');
            }
            
        });
    });
</script>

<% include ../block/footer %>